@{
    ViewData["Title"] = "Sobre nossa Empresa";
}
<h1 class="text-center mt-md-5">@ViewData["Title"]</h1>

<h4 class="text-center m-5">
    A StrongCode é uma empresa voltada para o mundo fitness, oferecendo uma linha completa de produtos, com parcerias de academias e marcas de todo mercado fitness para quem busca melhorar sua performance nos seus treinos. Oferecemos os produtos que são desenvolvidos com alta qualidade e tecnologia para proporcionar conforto, segurança e eficiência em cada treino. Contamos com produtos como suplementos, vitaminas, roupas, acessorios,  e os melhores E-book e tambem com suporte de personais de diferentes especialidades.
    Nosso objetivo é ajudar você a alcançar seus melhores resultados com produtos que se adaptam ao seu nível de treinamento, seja você iniciante ou avançado. Na StrongCode, acreditamos que a força está no esforço, e nossos produtos são o suporte perfeito para sua jornada de evolução física.
</h4>

<h2 class="text-center mt-md-5">Sobre nós Desenvolvedores:</h2>

<div class="row">

    <div class="col text-center"><img src="~/images/img_pedro.png" />Pedro Henrique Silva Araujo</div>

    <div class="col text-center"><img src="~/images/img_erick.png" />Erick Penazzi</div>

    <div class="col text-center"><img src="~/images/img_thiago.png" /> <h6>Thiago Candarola Vanucci</h6></div>

</div>



